.cabecera{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    height: 2.5em;
    background-color: #5271FF;
    text-align: center;
}

.navegacion{
    background-color: #a6a6a6;
    width: 20%;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
.sidebar .nav-link {
    color: #fff; /* Color blanco para los enlaces */
    transition: all 0.3s ease; /* Transición suave para interacciones */
}
.sidebar .nav-link:hover {
    /* Efecto al pasar el cursor sobre los enlaces */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo ligeramente blanco */
    transform: translateX(5px); /* Mueve el enlace ligeramente a la derecha */
}

.fondo{
    background-color: #d9d9d9;
}

.login{
    position: absolute;
}

.textoImagenesGal{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 40px;
    padding: 30px;
    display: grid;
    text-align: center;
}

.imagenesGaleria {
    display: grid;
    place-items: center; 
}

.imagenesGaleria img{
    width: 1200px; 
    height: auto; 
    border-radius: 15px;
}

.imagenSoplete {
    display: grid;
    place-items: center; 
}

.imagenSoplete img{
    width: 800px; 
    height: auto; 
    border-radius: 15px;
}

.parrafoPrincipal{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 50px;
    padding: 30px;
    display: grid;
    text-align: left;
}

.separadorNav{
    color: #fff;
    padding: 20px;
    text-decoration: underline;
}